*{
    padding:0px;
    margin: 0px;
    background:#00050b;
    color: white;
    list-style: none;
    text-decoration: none;
}
/*.covervid{
    height:500px;
    width:100%;
    object-fit: cover;
}*/
.menu{
    border:3px solid rgb(44, 4, 72);
    box-shadow: 8px 9px 9px #2f2332;
    height: 20px;
    width: 500px;
    text-align: center;
    margin: 20px auto;
    padding: 10px 10px;
    border-radius: 30px;
    background: linear-gradient(90deg,rgb(14, 18, 56) 30%, rgb(55, 13, 24) 90%);
}
.menu li{
  display: inline;
  margin-right: 15px;
  border-radius: 15px;
  border: 2px solid rgb(44, 4, 72);
  padding: 2px 5px;
}
.al{
    color: #d490e7;
}
h1{
    color:rgb(204, 105, 122);
    width: 300px;
    height: 38px;
    padding:5px 15px;
    text-align: center;
    margin:5px auto;
    background: linear-gradient(90deg,rgb(94, 70, 216) 35%,rgb(216, 148, 201) 97%);
    background-clip: text;
    color: transparent;

}
h2{
    color: rgb(191, 7, 151);
    text-align: center;
    padding-top: 20px;
}
.sec{
    border: 3px solid #01022e;
    border-radius: 25px;
    margin:30px 50px ;
    box-shadow: 6px 9px 9px #0d0d2d;
    padding: 10px 10px;
    padding-bottom: 30px;
    background-color: #010115;
}
.heading{
    margin:10px;
    text-align: center;
    font-weight: 700px;
}
h3{
    color:rgb(191, 7, 151);
    font-weight: bolder;
}
p{
    padding-top: 20000x;
    color: rgb(41, 91, 65);

}
h5{
     color: rgb(12, 55, 105);
    margin: 10px 10px;
    background-color: transparent;
}
h4{
     color: rgb(12, 55, 105);
     margin: 10px;
}
p a{
    color: rgb(75, 29, 29);
}
.line{
    color: rgb(12, 55, 105);
} 
.name{
    color: rgb(88, 17, 72);
    margin:10px;
}
.image{
     border: 2px solid rgb(32, 8, 95);
     margin: 10px;
     border-radius: 100%;
}
.qual li {
  display: inline;
  margin-right: 15px;
  color: rgb(41, 91, 65);

}

